@font-face {
    font-family: vazirmatn;
    src: url("fonts/ttf/Vazirmatn-Medium.ttf") format("ttf")
}

@font-face {
    font-family: vzirmatn;
    src: url("fonts/webfonts/Vazirmatn-Medium.woff2") format("woff2")
}
 
@font-face {
    font-family: vazirmatn;
    src: url("fonts/variable/Vazirmatn[wght].ttf") format("ttf")
}

body{
   font-family: vazirmatn;
}






h1{
    color:rgb(255, 128, 128);
    font-size: 30px;
}

p span{
    background-color: rgb(118, 179, 230);
    color:white;
}
